// ========= Reset css ===========

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// ========= Reset css ===========

// ========= Basic css ===========
body {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #010C15;
	height: 100vh;
	font-family: 'Fira Code', monospace;
   overflow: hidden;
}

.container {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0px 10px; 
}

.content {
	border-radius: 8px;
	border: 1px solid #1E2D3D;
	background: #011627;
	margin: 20px;
   width: calc(100% - 40px);
   min-height: calc(100% - 40px);
   box-sizing: border-box;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	@media (max-width: 768px){
		margin: 10px;
		width: calc(100% - 20px);
		height: calc(100% - 20px);
	}
}

.comment {
	color: #607B96;
	line-height: 150%;
	@media (max-width: 768px){
		font-size: 14px;
	}
}
.page {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

// ========= Basic css ===========

// ========= Header css ==========

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #1E2D3D;
	@media (max-width: 950px){
		padding:0px 18px;
	}
	& a {
		text-decoration: none;
		transition: all 0.3s ease 0s;
		@media (max-width: 950px){
			  font-size: 14px;
		}
		@media (max-width: 768px){
			  font-size: 16px;
		}
	}
	&__logo {
		padding: 17px 0px;
		padding-right: 150px;
		padding-left: 22px;
		border-right: 1px solid #1E2D3D;
		color: #607B96;
		@media (max-width: 950px){
			  padding-right: 50px;
		}
		@media (max-width: 768px){
			  border-right: none;
		}
	}

	&__link {
		padding: 17px 0px;
		border-right: none !important;
		border-left: 1px solid #1E2D3D;
		padding-right: 22px;
		@media (max-width: 768px){
			display: none !important;
		}
	}
}
.menu {
	display: flex;
	flex: 1 1 auto;
	&__body {
		display: flex;
		@media (max-width: 768px){
			position: fixed;
			width: 100%;
			height: 100%;
			top: 62px;
    		left: 10px;
			right: 30px;
			transition: all 0.5s ease-in-out 0s;
			transform: translateX(-120%);
			opacity: 0;
			z-index: 100;
			.menu-open & {
				transform: translateX(0%);
				opacity: 1;
			}
		}
	}
	&__list {
		display: flex;
		align-items: center;
		@media (max-width: 768px){
			flex-direction: column;
			align-items: flex-start;
			width: 100%;	
		}
	}

	&__item {
		@media (max-width: 768px){
			padding: 17px 0px;
			width: 80%;
			border-bottom:1px solid #1E2D3D;
			background: #011627;
			border-left: 1px solid #1E2D3D;
		}
	}

	&__link {
		padding: 15px 31px;
		border-right: 1px solid #1E2D3D;
		transition: all 0.3s ease 0s;
		color: #607B96;
		@media (max-width: 950px){
			padding: 15px 20px;
		}
		@media (max-width: 768px){
			border-right: none;
			color:#fff;
			padding: 17px 0px;
			padding-left: 18px;
			width: 80%;
			display: inline-block;
		}
		@media (max-width: 425px){
			width: 70%;
		}
		&:hover {
			color: #fff;
		}
	}
}

.active-link {
	color:#fff;
	border-bottom: 3px solid #FEA55F;
	@media (max-width: 768px){
		border-bottom: none;
	}
}

// ========= Header css ==========

// ====== Burger-Button css ======

.icon-menu {
	display: none;
	background: inherit;
	border: none;
	@media (max-width: 768px) {
		display: block;
		position: relative;
		width: 18px; /* Замінено rem(30) на 480px (30 * 16px) */
		height: 16px; /* Замінено rem(26) на 416px (26 * 16px) */
		z-index: 105;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: 3px; /* Замінено rem(3) на 48px (3 * 16px) */
			background-color: #607B96;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(48% - 1px); /* Замінено rem(1) на 16px */
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(47% - 1px); /* Замінено rem(1) на 16px */
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - 1px); /* Замінено rem(1) на 16px */
				transform: rotate(45deg);
			}
		}
	}
}


// ====== Burger-Button css ======

// ======= Home-Page css =========
.menu-open .main {
	opacity: 0;
}

.main {
	opacity: 1;
	transition: all 0.3s ease 0s;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 1024px){
			justify-content: center;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
	}

	&__subtitle {
		color: #E5E9F0;
		font-size: 18px;
	}

	&__name {
		color: #E5E9F0;
		font-size: 52px;
		padding: 7px 0px;
		@media (max-width: 768px){
			font-size: 52px;
		}
		@media (max-width: 425px){
			font-size: 48px;
		}
		@media (max-width: 390px){
			font-size: 42px;
		}
		@media (max-width: 350px){
			font-size: 38px;
		}
	}

	&__stack {
		color: #4D5BCE;
		font-size: 32px;
		padding-bottom: 81px;
		@media (max-width: 768px){
			padding-bottom: 190px;
			color: #43D9AD;
			font-size: 20px;
		}
	}

	&__comment {
		padding-bottom: 9px;
		&:nth-child(4) {
			@media (max-width: 1024px){
				display: none;
			}
		}
	}

	&__link {
		color: #fff;
		line-height: 140%;
		& span:first-child {
			color: #4D5BCE;
		}
		& span:nth-child(2) {
			color: #43D9AD;
		}
		& a {
			color: #E99287;
			transition: all 0.3s ease 0s;
		}
		@media (max-width: 768px){
			font-size: 14px;
		}
	}

	&__image {
		@media (max-width: 1024px){
			  display: none;
		}
	}
}



@keyframes typing {
	from {
		 width: 0;
	}
	to {
		 width: 100%;
	}
}

@keyframes blink-caret {
	from, to {
		 border-color: transparent;
	}
	50% {
		 border-color: #fff;
	}
}




// footer

.footer {

	&__socials {
		display: flex;
	}

	&__social {
	}

	&__link {
		transition: all 0.3s ease 0s;
		& img {
			width: 24px;
			height: 24px;
		}
	}
}
.projects-page {
	justify-content: flex-start;
}
.projects {
	&::-webkit-scrollbar {
		width: 18.5px;
		border-left: 1px solid #1E2D3D;
		border-bottom: 1px solid #1E2D3D;
	 }
	 
	 /* Track */
	 &::-webkit-scrollbar-track {
		border-radius: 0px;
	 }
	  
	 /* Handle */
	 &::-webkit-scrollbar-thumb {
		background: #607B96; 
		border-radius: 0px;
		transition: all 0.3s ease 0s;
	 }
	 
	 /* Handle on hover */
	 &::-webkit-scrollbar-thumb:hover {
		background: #435669; 
		transition: all 0.3s ease 0s;
	 }
}
.projects {
	padding-top: 90px;
	height: 550px;
	overflow-y: scroll;
	@media (max-width: 500px){
		padding-top: 30px;
	}
	&__container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0px 15px;
	}
}
.projects__list {
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    grid-gap: 40px;
	 justify-items: center;
	 @media (max-width: 425px){
		grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
	 }
	 @media (max-width: 360px){
		grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	 }
}

.projects-item {
	max-width: 370px;
	&__name {
		display: flex;
		align-items: center;
		gap: 12px;
		padding-bottom: 14px;
		& span:first-child {
			color: #5565E8;
			font-weight: 700;
		}
	}

	&__comment {
	}

	&__wrapper {
		border-radius: 15px;
		border: 1px solid #1E2D3D;
		background: #011221;
	}

	&__image {
		border-radius: 15px 15px 0px 0px;
		max-width: 370px;
		overflow: hidden;
		& img {
			border-radius: 15px 15px 0px 0px;
			border: 1px solid #1E2D3D;
			width: 100%;
			height: 140px;
			border-radius: 15px 15px 0px 0px;
			transition: all 0.3s ease 0s;
		}
	}

	&__content {
		padding: 24px 36px 31px 31px;
		@media (max-width: 500px){
			padding: 20px;
			padding-bottom: 30px;
		}
		@media (max-width: 340px){
			display: flex;
			flex-direction: column;
			row-gap: 10px;
		}
	}

	&__text {
		color: #607B96;
		font-size: 18px;
		line-height: 150%; /* 27px */
		padding-bottom: 22px;
		@media (max-width: 500px){
			font-size: 14px;
		}
	}

	&__link {
		border-radius: 8px;
		background: #1C2B3A;
		color: #FFF;
		font-size: 14px;
		padding: 10px;
		transition: all 0.3s ease 0s;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
			transform: scale(1.05);
		}
		@media (max-width: 340px){
			text-align: center;
		}
	}
}
main {
	transition: all 0.3s ease 0s;
}

.menu-open main {
	opacity: 0;
}